astroid==2.15.5
darglint==1.8.1
dill==0.3.6
flake8==6.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
platformdirs==3.5.1
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.17.4
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.2
wrapt==1.15.0
torch==2.0.0
torchvision==0.15.1
opencv-python==4.8.1.78
py-cpuinfo
numpy
pandas
matplotlib
git+https://github.com/facebookresearch/segment-anything.git